/* CSS Document */
.partenaires {
    height: 100px;
    background-image: url(img/partenaires.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}