@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
*{
    font-family: 'Barlow Semi Condensed', sans-serif;
    transition: 0.4s;
    box-sizing: border-box;
}
body,html{
    height:100%;
    overflow:auto;
}
body{
    width:100%;
    margin:0;
    background-image:radial-gradient(circle farthest-corner at top,#1F3756,#1E3453,#1D3151,#1C2E4E,#1B2B4B,#1A2849,#192446,#182144,#171E41,#161B3E,#15183C,#141539); 
    position: relative;
}
#scoreboard{
    width:95%;
    min-width: 320px;
	max-width: 600px;
	
    border:3px solid hsl(217, 16%, 45%);
    border-radius:15px;
    height:160px;
    display:flex;
    margin: 25px auto;
    justify-content: space-between;
}
.title{
	width:100px;
	color:white;
	font-size:1.8em;
	margin:auto 20px;
	line-height: 23px;
	font-weight: 600
}
.score{
    background-color: white;
    border-radius: 15px;
    height:79%;
    width:22%;
    margin:auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{
    color:hsl(229, 64%, 46%);
    letter-spacing: 2px;
    margin:18px auto;
    font-size:1.2em;
    font-weight: 600;
}
#number{
    color:hsl(229, 25%, 31%);
    margin: auto;
    font-size: 3em;
    font-weight: 700;
    transform:translateY(-30px);
}
#play{
    width:250px;
    height:250px;
    background-size: contain;
    background:url(../www/bbt/images/bg-pentagon.svg);
    margin: 75px auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.icon{
    box-sizing: border-box;
    position: absolute;
    background-color: #dcdcdc;
    background-repeat: no-repeat;
    background-position: center;
	background-size: 52.5%;
    display:flex;
    cursor: pointer;
	border-radius: 150px;
}
.icon:hover {
    background-color: white;
}
.rules{
    border-radius: 0 0 5px 5px;
    border:2px solid hsl(217, 16%, 45%);
    width:100px;
    height:30px;
    display:flex;
    letter-spacing: 2px;
    color:white;
    cursor: pointer;
    outline:none;
    background: none;
    transition:0.05s;
	margin: -2px auto 0 auto;
}
.rules p{
    margin:auto;
}
.rules:hover{
	background-color: white;
	color:black;
	border: 2px solid black;
}
#rules-board{
	width:95%;
	min-width: 320px;
	max-width: 550px;
	margin: 25px auto auto auto;
	background-color: white;
	border-radius: 10px;
	opacity:0;
	transition: 0.4s;
}
#after-text{
    font-weight: 600;
    font-size:16px;
    letter-spacing: 2px;
    width:100%;
    position:relative;
    color:white;
    z-index:-2;
    opacity:0;
}
#player-text{
    position: absolute;
    left:0;
    bottom:20px;
}
#cpu-text{
    position:absolute;
    right:0;
    bottom:20px;
}
.cpu-circle{
    position: absolute;
    width:125px;
    height:125px;
    border-radius: 150px;
    left:150px;
    top:calc(40% - 70px);
    z-index:-2;
    opacity:0;
}
.win-gradient{
    position:absolute;
    width:275px;
	height:275px;
	border-radius: 275px;
	top:-42px;
    z-index:-3;
    display:flex;
    opacity:0;
}
#circ-1{
    display:flex;
    margin:auto;
    width:275px;
    height:275px;
    border-radius:275px;
    background: #1c2244;
    z-index: -3;
}
#circ-2{
    display:flex;
    margin:auto;
    width:225px;
    height:225px;
    border-radius:225px;
    background: #212a49;
    z-index: -2;
}
#circ-3{
    margin:auto;
    width:175px;
    height:175px;
    border-radius:175px;
    background: #2a3352;
    z-index:-1 ;
}

#rules-container{
    width:100%;
    height:100%;
    display:flex;
    background: none;
    position: absolute;
}
#result-board{
    z-index: -5;
    position: absolute;
	left:1vw;
    top:140px;
    display:flex;
    flex-direction: column;
    width:max-content;
    opacity:0;
}
#result-board p{
    color:white;
    font-weight: 700;
    font-size:3em;
    letter-spacing: 5px;
}
#result-board .desc{
	font-weight: normal;
    font-size: .3em;
	letter-spacing: 3px;
}
#again{
    margin:-40px auto 0 0;
	padding: 0 20px;
    height:40px;
    border-radius:5px;
    outline:none;
    border:none;
    color:hsl(229, 25%, 31%);
    font-size:1em;
    cursor: pointer;
    
}